.nav {
  display: flex;
  justify-content: space-between;
  padding: 5.2rem 4rem 0rem 4rem;
  z-index: 5000;
  @media screen and (min-width: 860px) {
    padding: 5.2rem 5.822rem 0rem 5.822rem;
  }

  &--bg-color {
    position: relative;
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      background-color: #ea0000;
      opacity: 0.1;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      // box-sizing: content-box;
      // padding:10.4rem 0;
    }
  }

  &-brand {
    margin: auto 0;
  }
  &-menu {
    text-transform: lowercase;
    display: none;
    gap: 4.2rem;
    font-family: Poppins;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.6rem;
    letter-spacing: 0em;
    text-align: left;
    padding: 0 1rem;
    // @media screen and (min-width: 698px) {
    //   display: flex;
    //   gap: 1rem;
    // }
    // @media screen and (min-width: $bp-medium) {
    //   display: flex;
    //   gap: 2.4rem;
    // }
    @media screen and (min-width: 641px) {
      display: flex;
      gap: 2.2rem;
    }
    @media screen and (min-width: 698px) {
      gap: 4.2rem;
    }

    & > a {
      padding-bottom: 0.5rem;
      border-bottom: 3px solid transparent;
      &:hover {
        border-bottom: 3px solid $color-primary;
        cursor: pointer;
      }
    }
  }
  &-icons {
    display: none;
    gap: 2.5rem;
    @media screen and (min-width: 641px) {
      display: flex;
    }
  }
  &__hamburger {
    font-family: $font-primary;
    position: relative;
    height: 8rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media only screen and (min-width: 641px) {
      display: none;
    }
    &__icon {
      font-size: 4rem;
      max-width: fit-content;
      color: black;
    }
  }
  &-hamburger {
    display: none;
    text-align: right;
    color: $color-black;
    position: relative;
    width: 20rem;
    padding: 4rem 0px;
    @media screen and (max-width: 641px) {
      display: inline-block;
    }
    &-menu {
      border-radius: 2.4rem;
      border: 1.2px solid #efefef;
      position: absolute;
      top: 30;
      left: 50;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      gap: 2.5rem;
      font-family: Poppins;
      font-size: 1.7rem;
      font-style: normal;
      font-weight: 500;
      line-height: 2.6rem;
      letter-spacing: 0em;
      text-align: center;
      padding: 2.8rem 1rem;
      z-index: 100;
      color: white;
      background-color: $color-black;
      opacity: 0.9;

      & > span:hover {
        color: $color-primary;
        cursor: pointer;
      }
    }
  }
}
.nav__dropdown {
  position: absolute;
  top: 2.3rem;
  right: 0;
  width: 25rem;
  height: fit-content;
  z-index: 10000;
  background-color: rgba($color-black, 0.9);

  border-radius: 6px;
  color: white;
  font-size: 1.8rem;
  backdrop-filter: blur(15px);

  & > button {
    color: white;
    font-size: 2.4rem;
  }
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  &__wrapper {
    position: relative;
  }
  // TODO add animation ifor dropdown maybe a slide in
}
