.nav {
  display: flex;
  justify-content: space-between;
  padding: 5.2rem 4rem 0rem 4rem;
  z-index: 5000;
  @media screen and (min-width: 860px) {
    padding: 5.2rem 5.822rem 0rem 5.822rem;
  }

  &--bg-color {
    position: relative;
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      background-color: #ea0000;
      opacity: 0.1;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      // box-sizing: content-box;
      // padding:10.4rem 0;
    }
  }

  &-brand {
    margin: auto 0;
  }
  &-menu {
    text-transform: lowercase;
    display: none;
    gap: 4.2rem;
    font-family: Poppins;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.6rem;
    letter-spacing: 0em;
    text-align: left;
    padding: 0 1rem;

    @media screen and (min-width: 641px) {
      display: flex;
      gap: 2.2rem;
    }
    @media screen and (min-width: 698px) {
      gap: 4.2rem;
    }

    & > a {
      padding-bottom: 0.5rem;
      border-bottom: 3px solid transparent;
      &:hover {
        border-bottom: 3px solid $color-primary;
        cursor: pointer;
      }
    }
  }
  &-icons {
    display: none;
    gap: 2.5rem;
    @media screen and (min-width: 641px) {
      display: flex;
    }
  }
  &__hamburger {
    font-family: $font-primary;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media only screen and (min-width: 641px) {
      display: none;
    }
    &__icon {
      font-size: 4rem;
      max-width: fit-content;
      color: black;
    }

    &__menu {
      position: absolute;
      z-index: 10000;

      top: 2.3rem;
      right: 0;
      width: 25rem;
      padding: 2.8rem 1rem;

      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2.5rem;

      font-family: Poppins;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 500;
      text-align: center;

      color: white;
      background-color: $color-black;
      opacity: 0.9;

      border-radius: 6px;
      border: 1.2px solid #efefef;
      backdrop-filter: blur(15px);

      & > span:hover {
        color: $color-primary;
        cursor: pointer;
      }
    }
  }
}
