.booking {
  position: relative;
  z-index: 100;
  &__container {
    z-index: inherit;
  }
  &__hero {
    // position: relative;
    // TODO fix bg image jank its not showing up as i would expect...
    //  i though mayeb it was missing some psudeo stuff but idk why it loads but doesnt show
    // top: 0;
    // left: 50%;
    // width: 100%;

    height: fit-content;
    background: url("/images/hero-large.jpg") no-repeat;
    background-color: red;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; //87.9rem,89.1rem ;
    background-position: 50% 50%;

    z-index: 1000;
    &--small {
      position: relative;

      z-index: 0;
      display: none;

      @media only screen and (min-width: $bp-medium) {
      }
      & > img {
        position: absolute;
        // right: 10rem;

        @media only screen and (min-width: $bp-small) {
          //   right: 40rem;
        }
        @media only screen and (min-width: $bp-smallest) {
          //   right: 20rem;
        }
        // TODO reconsider the spacing on mid size 500-800px for the header text and buttosn seems a bit cramped on left
        //when the hero is on top rather than on the right
        // overflow: hidden;
        // display: block;
        // object-fit: cover;
      }
    }
  }
}
