.header {
  padding-bottom: 5rem;
  position: relative;
  width: 100%;
  margin-top: 6rem;

  z-index: 100;
  margin-bottom: 11.4rem;
  // overflow: hidden;
  z-index: 1000;
  &__hero {
    // position: relative;
    // object-fit: cover;
    // as screen size decrease lower hieght a bit and perhaps size and left position
    //so down and to the left
    // width: 72rem;
    max-width: 60rem;
    margin-top: -2rem;
    @media only screen and (min-width: $bp-smallest) {
      margin-top: 0rem;

      // display: none;
      position: absolute;
      // transform: rotatey(40%);
      z-index: 0;
      top: -12rem;
      left: 60%;
      width: 72rem;
      max-width: 72rem;
    }
    @media only screen and (min-width: $bp-small) {
      left: 55%;
    }

    @media only screen and (min-width: $bp-medium) {
      top: -12rem;
      left: 52%;
    }
    @media only screen and (min-width: $bp-large) {
      left: 46%;
      width: 80rem;
      max-width: 80rem;
    }
  }

  &-hero-description {
    z-index: 1000;
    max-width: 90%;
    margin-top: 15rem;
    margin: 0 auto;
    @media only screen and (min-width: $bp-small) {
      margin-top: 24.8rem;
      margin-top: 15rem;
      padding: 0 0;
      max-width: 100%;
      margin-left: 11.4rem;
    }
  }

  &-kebabs {
    z-index: 1000;

    margin-top: 4.3rem;
    z-index: 1000;
    text-transform: lowercase;
  }
  &-brand {
    z-index: 1000;
    position: relative;
    &-price {
      z-index: 1000;
      font-family: $font-primary;
      font-weight: 700;
      color: #6a4219;
      display: flex;
      opacity: 10%;
      margin-top: 1rem;
      font-size: 6.2rem;
      line-height: 10rem;
      letter-spacing: -2.5;

      @media only screen and (min-width: $bp-smallest) {
        transform: rotate(-90deg);
        position: absolute;
        top: 5rem; //50 450
        left: 45rem;
        margin-top: 0rem;
        z-index: 1000;
      }
      &--sign {
        z-index: 1000;
        font-size: 0.75em;
      }
    }
    &-pagination {
      z-index: 1000;
      position: absolute;
      top: 155;
      left: -100;
    }
  }

  &-paragraph {
    position: relative;
    z-index: 1000;
    margin-top: 3.2rem;
    margin-bottom: 6.7rem;
    font-size: 2rem;
    width: 47.6rem;
    font-weight: 500;
    @media only screen and (max-width: 400px) {
      max-width: 30ch;
    }
    @media only screen and (min-width: $bp-smallest) {
      max-width: 40ch;
      margin-bottom: 6.7rem;
    }
    @media only screen and (min-width: $bp-small) {
      max-width: 60ch;
    }
    @media only screen and (min-width: $bp-medium) {
      max-width: 60ch;
      width: 47.6rem;
      margin-bottom: 8.7rem;
    }
  }

  &-info {
    z-index: 1000;
    position: relative;
    display: flex;
    gap: 8.2rem;
    &-meal {
      z-index: 1000;
      font-size: 2.6rem;
      font-weight: 700;
    }
    &-time {
      z-index: 1000;
      font-size: 2rem;
      font-weight: 700;
      opacity: 40%;
    }
  }

  &-button-wrapper {
    z-index: 1000;

    margin-bottom: 10.7rem;
    display: flex;
    gap: 1.8rem;

    @media only screen and (min-width: $bp-smallest) {
      // margin-bottom: 4.7rem;
    }
    @media only screen and (min-width: $bp-small) {
      // margin-bottom: 12.9rem;
    }
    @media only screen and (min-width: $bp-medium) {
      margin-bottom: 12.9rem;
    }
  }
}
