.menu-heading-container {
  margin-bottom: 10rem;

  &-subheading {
    margin-bottom: 0.08rem;
  }
}
.menu {
  // padding-bottom: 5rem;
  &__content {
    &-title {
      display: flex;
      justify-content: center;
      gap: 2.5rem;
      margin-bottom: 5.5rem;
      & > button {
        border: 3px solid transparent;
      }

      & > button:hover {
        border-bottom: 3px solid $color-primary;
      }
      & > button:focus {
        outline: none;
        border-bottom: 3px solid $color-primary;
      }
    }
  }

  &-container {
    display: grid;
    grid-template-columns: repeat(1, auto);
    row-gap: 2rem;
    column-gap: 3rem;
    justify-content: center;
    // grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    // TODO improve upon this to make above work instead
    @media only screen and (min-width: $bp-large) {
      grid-template-columns: repeat(2, auto);
      row-gap: 4rem;
    }
    @media only screen and (min-width: $bp-largest) {
      grid-template-columns: repeat(3, auto);
      justify-content: unset;
    }

    &-wrapper {
      display: flex;
      justify-content: center;
      // DEV CSS PADDING
      margin-bottom: 5.5rem;
      transition: all 2s ease-in;
    }

    // &-button {
    //     &:active {}
    // }
    & > * {
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
      --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }

    &__card {
      position: relative;
      height: 38.5rem;
      width: 37rem;
      border-radius: 2.4rem;
      border: 1.2px solid #efefef;
      z-index: 1;

      &-image {
        width: 20rem;
        height: 20rem;
        clip-path: circle(50%);
        margin: 0 auto;
        margin-top: 2rem;
        margin-bottom: 1.5rem;
        display: flex;
        align-items: center;
        &-1 {
          width: 20rem;
          height: 20rem;
          background-clip: border-box;
          background-position: top 2% center; //top -360% -380 when size is 40rem
          background-repeat: no-repeat;
          background-size: 40rem;
          background-image: url("/images/dish-1.png");
          // box-shadow: 0px 100px 80px 0px #00000012;
        }
      }
      &-body {
        padding-left: 2.8rem;
        &-rating {
          height: 2.2rem;
          margin-bottom: 1rem;
        }
        &-text {
          font-family: $font-primary;
          &--title {
            font-family: inherit;
            font-size: 2rem;
            font-style: normal;
            font-weight: 600;
            line-height: 3rem;
            letter-spacing: 0em;
            text-align: left;
            margin-bottom: 0.6rem;
          }
          &--paragraph {
            font-family: inherit;
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 400;
            line-height: 2.6rem;
            letter-spacing: -0.01em;
            text-align: left;
            margin-bottom: 1.6rem;
          }
        }
      }
      &-footer {
        display: flex;
        justify-content: space-between;
        margin-right: 3.5rem;
        padding-left: 2.8rem;
        // margin-bottom: 2rem;

        &-price {
          display: flex;
          align-items: flex-end;
          font-family: $font-primary;
          font-style: normal;
          font-weight: 500;
          font-size: 2rem;
          line-height: 3rem;
          color: #2a333e;
          padding-right: 1rem;
        }
      }
    }
  }
}
