.menu__categories {
  font-family: Poppins;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.6rem;
  letter-spacing: 0em;
  text-align: center;
  border-bottom: 3px solid transparent;
  & > span:hover {
    color: $color-primary;
    cursor: pointer;
  }
  &--tab-active {
    color: $color-primary;
    cursor: pointer;
    border-bottom: 3px solid $color-primary;
  }
}
